[submodule "dev-link-iac"]
	path = dev-link-iac
	url = https://github.com/bccalegari/dev-link-iac.git
[submodule "dev-link-user-service"]
	path = dev-link-user-service
	url = https://github.com/bccalegari/dev-link-user-service.git
